@font-face {
    font-family: Century;
    src: url(../Assets/Font/century-gothic/GOTHICB.TTF);
}
@font-face {
    font-family: Century_1;
    src: url(../Assets/Font/century-gothic/GOTHIC.TTF);
}

.Industry_focus_on{
    font-family: century_1;
    font-weight: Light;
}
.bg-color{
    background-color: #A6A6A7;
}

.paragraph{
    font-family: century_1;
    padding-top: 10px;
    font-size: 30px;
}