@font-face {
    font-family: Century;
    src: url(../Assets/Font/century-gothic/GOTHICB.TTF);
}
@font-face {
    font-family: Century_1;
    src: url(../Assets/Font/century-gothic/GOTHIC.TTF);
}

.Warehosue_heading{
    font-family: century_1;
    color:#E4E4E4;
}
.Warehouse_bg{
    background: #000012;
}
.ComputerVision_heading{
    font-family: century_1;

}
.Argus_help{
    color: #F4C24B;
    font-family: century_1;
}
.Warehouse_point_font{
    font-family: century_1;
    padding-left: 20px;
}
.Inventory_Management_heading{
    font-family: century_1;
    font-size:150%;
    text-align: center;
    padding-top: 20px;
}
.Security_Surveillance_points{
   font-family: century_1;
   padding-top: 5px;
   padding-left: 40px;
   font-size: 85%;
}
.resource_management_heading{
    font-family: century_1;
    font-size:150%;
    text-align: center;
    padding-top: 20px;

}
.resource_management_points{
    font-family: century_1;
   padding-top: 5px;
   padding-left: 50px;
   padding-right: 50px;
   font-size: 85%;
}
.safety_compliance_heading{
    font-family: century_1;
    font-size:150%;
    text-align: center;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;

}
.safety_compliance_points{
    font-family: century_1;
   padding-top: 5px;
   padding-left: 50px;
   padding-right: 30px;
   font-size: 85%;
}